body {
    padding-top: 70px;
}

.well {
    padding: 30px;
}
.search {
    margin-bottom: 20px;
}

small {
    display: block;
    line-height: 1.428571429;
    color: #999;
}
.buttons{
  margin-top: 10px;
}
.navbar-nav .btn{
  margin:8px;
}
.sold{
  background-color: #c5f5b1;
}

.claimed{
  background-color: #f6ecb9;
}

.salebtn{
  margin-top: 25px;
  margin-left: 0px;
}
