<div class="row">

    <div class="info-box col-xs-4">
        <div class="well well-sm">
            <h4><a href="#/customer/edit/{{exchange_cms._id}}">{{exchange_cms.name}}</a></h4>
            <small><i class="fa fa-globe"></i> {{exchange_cms.address}}</small>
            <br>
            <p><i class="fa fa-phone"></i> {{exchange_cms.phone}}</p>
            <p><i class="fa fa-calendar"></i> {{exchange_cms.account_start | date : 'mediumDate'}}</p>
            <div class="row padded">
                <a class="btn btn-success col-xs-6" ng-click="payedCommission()"><i class="fa fa-dollar"></i> Pay Commission</a>
                <a class="btn btn-warning col-xs-6" ng-click="payOutForSoldItems()"><i class="fa fa-dollar"></i> Pay Out for Sold Items</a>
            </div>
            <div class="row padded">
                <a class="btn btn-primary col-xs-12" href="#/transaction/new/{{exchange_cms._id}}"><i class="fa fa-plus"></i> New Transaction</a>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <ul class="well list-group col-md-12">
                <li class="list-group-item">
                    <span class="badge">&euro; {{moneyOwed.rows[0].value || "0"}}</span> Amount Due For Sold Items
                </li>
                <li class="list-group-item">
                    <span class="badge">{{itemsSold.rows[0].value || "0"}}</span> Items Sold
                </li>
                <li class="list-group-item">
                    <span class="badge">&euro; {{commissionOwed.rows[0].value || "0"}}</span> Commission To Pay
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="input-group search">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" ng-model="search" class="form-control" placeholder="Search..."></input>
            </div>
        </div>
    </div>
</div>


<div ng-repeat="transaction in exchange_cms.transactions | filter:search | orderBy:'-timestamp'">
    <div class="row">
        <div class="well">
            <a href="#/transaction/view/{{exchange_cms._id}}/{{transaction.transaction}}">
                <div class="row">
                    <h4 class="col-xs-3">{{transaction.timestamp | date : 'medium'}}</h4>
                    <h4 class="pull-right col-xs-1 col-xs-offset-7"># {{transaction.transaction + 1}}</h4>
                </div>
            </a>
            <small><i class="fa fa-list"></i> {{transaction.items.length}} Items</small>
            <br>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Description</th>
                        <th>Info</th>
                        <th>Size</th>
                        <th>Price</th>
                        <th>Sold For</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in transaction.items | filter:search | limitTo:10 | orderBy: ['sold', 'claimed']" ng-class="(item.sold > 0) ? (item.claimed) ? 'claimed' : 'sold' : ''">
                        <th>{{item.id + 1}}</th>
                        <td>{{item.description}}</td>
                        <td>{{item.info}}</td>
                        <td>{{item.size}}</td>
                        <td>&euro;{{item.price}}</td>
                        <td ng-if="item.sold > 0">&euro;{{item.sold}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
