<div class="row">
    <div class="info-box col-xs-4">
        <div class="well well-sm">
            <h4 class="customer-info"><a href="#/customer/edit/{{exchange_cms._id}}">{{exchange_cms.name}} <span class="accnum">#{{exchange_cms.account_number}}</span></a></h4>
            <small style="text-transform:capitalize"><i class="fui-location"></i> {{exchange_cms.address}}</small>
            <p class="customer-info"><i class="fui-bubble"></i> {{exchange_cms.phone}}</p>
            <p class="customer-info"><i class="fui-calendar"></i> {{exchange_cms.account_start | date : 'mediumDate'}}</p>
            <div class="row padded">
                <a class="btn btn-info col-xs-12" ng-click="payOutForSoldItems()">Pay Out for Sold Items</a>
            </div>
            <div class="row padded">
                <a class="btn btn-primary col-xs-12" href="#/transaction/new/{{exchange_cms._id}}"><i class="fui-plus"></i> New Transaction</a>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <ul class="well list-group col-md-12">
                <li class="list-group-item">
                    <span class="badge">&euro; {{moneyOwed.rows[0].value || "0"}}</span> Price of Sold Items
                </li>
                <li class="list-group-item">
                    <span class="badge">{{itemsSold.rows[0].value || "0"}}</span>Number of Items Sold
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="input-group focus">
                <span class="input-group-addon"><i class="fui-search"></i></span>
                <input type="text" ng-model="search" class="form-control search-field" placeholder="Search..." />
            </div>
        </div>
    </div>
</div>


<div ng-repeat="transaction in exchange_cms.transactions | filter:search | orderBy:'-timestamp'">
    <div class="row">
        <div class="well">
            <a href="#/transaction/view/{{exchange_cms._id}}/{{transaction.transaction}}">
                <div class="row">
                    <h4 class="col-xs-5">{{transaction.timestamp | date : 'medium'}}</h4>
                    <h4 class="pull-right col-xs-1 col-xs-offset-5"># {{transaction.transaction + 1}}</h4>
                </div>
            </a>
            <small><i class="fui-list-bulleted"></i> {{transaction.items.length}} Items</small>
            <br>

            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Description</th>
                        <th>Info</th>
                        <th>Size</th>
                        <th>Price</th>
                        <th>Sold For</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in transaction.items | filter:search | orderBy: 'id'" ng-class="(item.sold > 0) ? (item.claimed) ? 'claimed' : 'sold' : ''">
                        <th>{{item.id + 1}}</th>
                        <td>{{item.description}}</td>
                        <td>{{item.info}}</td>
                        <td>{{item.size}}</td>
                        <td>&euro;{{item.price}}</td>
                        <td ng-if="item.sold > 0">&euro;{{item.sold}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
