<div class="row">

    <div class="col-md-3">
        <div class="well well-sm">
            <h4><a href="#/customer/edit/{{exchange_cms._id}}">{{exchange_cms.name}}</a></h4>
            <small><i class="fa fa-globe"></i> {{exchange_cms.address}}</small>
            <br>
            <p><i class="fa fa-phone"></i> {{exchange_cms.phone}}</p>
            <p><i class="fa fa-calendar"></i> {{exchange_cms.account_start | date : 'mediumDate'}}</p>
            <br>
            <a class="btn btn-primary" href="#/transaction/new/{{exchange_cms._id}}"><i class="fa fa-plus"></i> New Transaction</a>
        </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <ul class="well list-group col-md-12">
            <li class="list-group-item">
                <span class="badge">10</span> Amount Due For Sold Items
            </li>
            <li class="list-group-item">
                <span class="badge">42</span> Items Sold
            </li>
            <li class="list-group-item">
                <span class="badge">€32</span> Commission To Pay
            </li>
        </ul>
      </div>
        <div class="row">
            <div class="input-group search">
                <span class="input-group-addon" id="search-icon"><i class="fa fa-search"></i></span>
                <input type="text" ng-model="search" class="form-control" aria-describedby="search-icon" placeholder="Search..."></input>
            </div>
        </div>
    </div>
</div>


<div ng-repeat="transaction in exchange_cms.transactions | filter:search | orderBy:'transaction.timestamp'">
    <div class="row">
        <div class="well col-md-9 col-md-offset-3">
            <h4><a href="#/transaction/view/{{exchange_cms._id}}/{{transaction.transaction}}">{{transaction.timestamp | date : 'medium'}}</a></h4>
            <small><i class="fa fa-list"></i> {{transaction.items.length}} Items</small>
            <br>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Info</th>
                        <th>Size</th>
                        <th>Price</th>
                        <th>Sold For</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in transaction.items | filter:search | limitTo:10 | orderBy: ['sold', 'claimed']" ng-class="(item.sold > 0) ? (item.claimed) ? 'claimed' : 'sold' : ''">
                        <td>{{item.description}}</td>
                        <td>{{item.info}}</td>
                        <td>{{item.size}}</td>
                        <td>&euro;{{item.price}}</td>
                        <td ng-if="item.sold > 0">&euro;{{item.sold}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
