<form name="myForm" class="well well-lg col-xs-6 col-xs-offset-3">
    <div class="form-group row">
        <label class="col-form-label" for="nameInput">Name</label>
        <input id="nameInput" type="text" name="name" ng-model="exchange_cms.name" class="form-control" required>
    </div>

    <div class="form-group row">
        <label class="col-form-label" for="dob">Address</label>
        <input id="addressInput" type="text" name="address" ng-model="exchange_cms.address" placeholder="Optional" class="form-control">
    </div>

    <div class="form-group row">
        <label class="col-form-label" for="phoneInput">Phone Number</label>
        <input id="phoneInput" name="phone" ng-model="exchange_cms.phone" placeholder="Optional" class="form-control">
    </div>

    <div class="row">
        <a href="#/customer/view/{{exchange_cms._id}}" class="btn btn-primary col-xs-3"><i class="fui-arrow-left"></i> Back</a>
        <button ng-click="save()" ng-disabled="myForm.$invalid" class="btn btn-success col-xs-3 pull-right"><i class="fui-check"></i> Save</button>
    </div>
</form>
