<div class="row search">
    <div class="input-group centered list-box">
        <span class="input-group-addon" id="search-icon"><i class="fa fa-search"></i></span>
        <input type="text" ng-model="search" class="form-control" aria-describedby="search-icon" placeholder="Search..."></input>
    </div>
</div>

<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="customer in exchange_cms.rows | filter:search:strict | orderBy:'doc.name' | limitTo:50">
                <td class="col-xs-1"><a href="#/customer/view/{{customer.doc._id}}"><i class="fa fa-arrow-right"></i> {{customer.doc.account_number}}</a></td>
                <td class="col-xs-3">{{customer.doc.name}}</td>
                <td class="col-xs-3">{{customer.doc.phone}}</td>
                <td class="col-xs-5">{{customer.doc.address}}</td>
            </tr>
        </tbody>
    </table>
</div>
