<div class="row search">
    <div class="input-group focus">
        <span class="input-group-addon"><i class="fui-search"></i></span>
        <input type="text" ng-model="search" class="form-control search-field" aria-describedby="search-icon" placeholder="Search..." />
    </div>
</div>

<div class="row">
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="customer in exchange_cms.rows | filter:search:strict | orderBy:'doc.name' | limitTo:50">
                <th class="col-xs-1"><a href="#/customer/view/{{customer.doc._id}}"><i class="fui-arrow-right"></i> {{customer.doc.account_number}}</a></th>
                <td class="col-xs-3 capital">{{customer.doc.name}}</td>
                <td class="col-xs-3">{{customer.doc.phone}}</td>
                <td class="col-xs-5">{{customer.doc.address}}</td>
            </tr>
        </tbody>
    </table>
</div>
