<div id="transaction">
    <div class="row well">
        <div class="col-xs-4">
            <button ng-click="goBack()" class="btn btn-primary"><i class="fui-arrow-left"></i> Back</button>
            <button ng-click="deleteTransaction()" class="btn btn-danger" style=""><i class="fui-trash"></i>Delete Transaction</button>
        </div>
        <div class="col-xs-4 col-xs-offset-4">
            <button class="addfields btn btn-primary col-xs-5" ng-click="addNewItem()"><i class="fui-plus"></i> Add Item</button>
            <button ng-click="save()" ng-disabled="myForm.$invalid" class="btn btn-success col-xs-5 col-xs-offset-1"><i class="fui-check"></i> Save</button>
        </div>
    </div>

    <form name="myForm">
        <div ng-repeat="item in exchange_cms.transactions[transactionID].items" class="well well-lg col-xs-6">

            <div class="form-group row">
                <label class="col-form-label" for="descriptionInput">Description</label>
                <label class="col-form-label sold-text pull-right" for="descriptionInput" ng-if="item.sold_date"><i class="fui-check-circle"></i> Sold on {{item.sold_date | date : 'mediumDate'}}</label>
                <input id="descriptionInput" type="text" name="description" ng-model="item.description" class="form-control" required />
            </div>

            <div class="form-group row">
                <label class="col-form-label" for="info">Extra Information</label>
                <input id="infoInput" type="text" name="address" ng-model="item.info" class="form-control" placeholder="Optional" />
            </div>
            <div class="form-group row">

                <div class="form-group col-xs-6" style="padding-left:0px">
                    <label class="col-form-label" for="sizeInput">Size</label>
                    <input id="sizeInput" type="text" name="size" ng-model="item.size" class="form-control" placeholder="Optional" />
                </div>

                <div class="form-group col-xs-6" style="padding-right:0px">
                    <label class="col-form-label" for="priceInput">Price</label>
                    <input id="priceInput" name="price" ng-model="item.price" class="form-control" required />
                </div>

            </div>
            <div class="row">
                <div class="col-xs-5">
                    <div class="input-group focus">
                        <span class="input-group-addon" style="font-size:18px">&euro;</span>
                        <input id="soldInput" ng-model="item.sold" class="form-control sold-amount" ng-readonly="item.sold_date!=null" />
                    </div>
                </div>
                <button ng-click="soldItem($index)" class="btn btn-primary col-xs-3" ng-disabled="item.sold_date!=null"><i class="fui-heart"></i> Sold</button><button ng-click="removeItem($index)" class="btn btn-danger" style="float:right"><i class="fui-trash"></i></button>
            </div>

        </div>
    </form>
</div>
