<form name="myForm" class="transaction">
    <div ng-repeat="item in exchange_cms.transactions[transactionID].items" class="col-xs-6">
        <div class="well">
            <div class="form-group row">
                <label class="col-form-label" for="descriptionInput">Description</label>
                <input id="descriptionInput" type="text" name="description" ng-model="item.description" class="form-control" required>
            </div>

            <div class="form-group row">
                <label class="col-form-label" for="info">Extra Information</label>
                <input id="infoInput" type="text" name="address" ng-model="item.info" class="form-control">
            </div>
            <div class="row">
                <div class="form-group col-xs-6">
                    <label class="col-form-label" for="sizeInput">Size</label>
                    <input id="sizeInput" type="text" name="size" ng-model="item.size" class="form-control" required>
                </div>

                <div class="form-group col-xs-6">
                    <label class="col-form-label" for="priceInput">Price</label>
                    <input id="priceInput" type="text" name="price" ng-model="item.price" class="form-control" required>
                </div>
            </div>
        </div>
    </div>

    <br>
        <div class="form-group">
            <a href="#/customer/view/{{exchange_cms._id}}" class="btn btn-primary col-md-6 buttons">Back</a>
            <button ng-click="save()" ng-disabled="myForm.$invalid" class="btn btn-success col-md-6 buttons">Save</button>
        </div>
</form>
